<nav class="navbar  has-shadow" style="background-color: rgba(98, 0, 255, 0.123) ;" >
    <div class="navbar-brand ">

      
        <img class="image " src="assets/imagen/i.png" width="50" height="18" >
      
     
     
        
      

        <div class="field has-addons" style="margin-top: 11px ;">
          <div class="control">
            <input class="input" type="text" placeholder="Buscar favorito...">
          </div>
          <div class="control">
            <a class="button is-success">
              <span class="icon is-small">
                <i class=""><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="currentColor" d="M15.5,12C18,12 20,14 20,16.5C20,17.38 19.75,18.21 19.31,18.9L22.39,22L21,23.39L17.88,20.32C17.19,20.75 16.37,21 15.5,21C13,21 11,19 11,16.5C11,14 13,12 15.5,12M15.5,14A2.5,2.5 0 0,0 13,16.5A2.5,2.5 0 0,0 15.5,19A2.5,2.5 0 0,0 18,16.5A2.5,2.5 0 0,0 15.5,14M10,4A4,4 0 0,1 14,8C14,8.91 13.69,9.75 13.18,10.43C12.32,10.75 11.55,11.26 10.91,11.9L10,12A4,4 0 0,1 6,8A4,4 0 0,1 10,4M2,20V18C2,15.88 5.31,14.14 9.5,14C9.18,14.78 9,15.62 9,16.5C9,17.79 9.38,19 10,20H2Z" />
              </svg></i>
              </span>
            </a>
          </div>
        </div>

     
  
      <a role="button" class="navbar-burger" (click)="actMe()" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
       
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu ">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="/users">
          <strong>Personajes</strong>
        </a>
  
        <a class="navbar-item" routerLink="/users/create" >
          <strong>Añadir Personaje</strong>
        </a>
        
  
        
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-success ">
              <span class="icon is-small">
                <i ><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="currentColor" d="M11 4C8.8 4 7 5.8 7 8S8.8 12 11 12 15 10.2 15 8 13.2 4 11 4M11 14C6.6 14 3 15.8 3 18V20H12.5C12.2 19.2 12 18.4 12 17.5C12 16.3 12.3 15.2 12.9 14.1C12.3 14.1 11.7 14 11 14M18 20C16.6 20 15.5 18.9 15.5 17.5C15.5 17.1 15.6 16.7 15.8 16.4L14.7 15.3C14.3 15.9 14 16.7 14 17.5C14 19.7 15.8 21.5 18 21.5V23L20.2 20.8L18 18.5V20M18 13.5V12L15.8 14.2L18 16.4V15C19.4 15 20.5 16.1 20.5 17.5C20.5 17.9 20.4 18.3 20.2 18.6L21.3 19.7C21.7 19.1 22 18.3 22 17.5C22 15.3 20.2 13.5 18 13.5Z" />
              </svg></i>
              </span>
              <span>Registrate</span>
            </a>
            
            <a class="button is-success is-outlined" >
              <span class="icon is-small">
                <i class="fab fa-github"></i>
              </span>
              <span>GitHub</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    
    
  </nav>

  <script>

    
  </script>