

<div *ngFor="let user of usuarios" class="box">

    <div class="columns">
    
        <div class="column">
        <ul>
    
       
    
        <li> <h3 class="title is-4"> Nombre personaje: {{user.name}}</h3> </li>
        <li> <h5 class="title is-5"> Descripcion: {{user.description}} </h5></li>
        
        
        
    
        </ul><br>
    <div class="buttons" style=" vertical-align: bottom;">
        <button class="button is-outlined" (click)="removeUser(user.id)"  style="color: rgb(196, 167, 230);" > Eliminar</button>
        <button class="button is-warning is-outlined" [routerLink]="['users/edit/',user.id]"> Actualizar</button>
    </div>
    
        </div>
    
        <div class="column is-3">
            <figure class="image is-2by1">
    <img  [src] ="user.image" alt="" >
    
    </figure>
        </div>
    
    
    </div>
    
    </div>
    